@font-face {
    font-family: 'FK Display';
    src: url('assets/fonts/FKDisplay-Regular.woff2') format('woff');
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('assets/fonts/IBMPlexMono-Medium.woff2') format('woff');
}
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/inter-v13-latin-500.woff2') format('woff');
}
@font-face {
    font-family: 'Inter-regular';
    src: url('assets/fonts/inter-v13-latin-regular.woff2') format('woff');
}

/* ____reset____ */

/* *{
    box-sizing: border-box;
} */

body, p, a, ul, li, button{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

header{
    /* height: 0; */
    /* display: block; */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container{
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    position: absolute;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    padding-right: 24px;
    margin: 12px;
    text-transform: uppercase;
    transform: translate(0, 0);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

.header-container::before{
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    z-index: -1;
    transition: background-color 0.3s ease-in-out;
}

.header-container a{
    height: 100%;
    display: flex;
    align-items: center;
}

.header-container svg{
    height: 12px;
    width: 69.14px;
    margin-left: 24px;
    fill: #222222;
    transition: fill 0.3s ease-in-out;
}

.main-wrap{
    font-family: 'FK Display';
    font-size: 500;
}

.section1{
    display: flex;
    flex-flow: column;
    gap: 6px;
    color: #fff;
    background-image: url('https://raw.org/image/raw-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 80%;
    padding: 120px 12px 12px;
}

.home-brackets{
    position: relative;
    padding: 24px 0;
}

.brackets::before{
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    content: "";
    display: block;
    position: absolute;
    border: 2px solid #FFFFFF29;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}
.brackets::after{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    content: "";
    display: block;
    position: absolute;
    border: 2px solid #FFFFFF29;
    border-radius: 0 0 8px 8px;
    border-top: none;
}

.home-features{
    display: flex;   
    flex-flow: column;
    gap: 24px;
}

.bracket-title{
    display: block;
    font-family: 'IBM Plex Mono';
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #FFFFFF99;
    margin-bottom: 24px;
}

.head-des{
    font-size: 24px;
    line-height: 44px;
    font-weight: 500;
    margin: 16.08px 0;
}

.icons{
    width: 90px;
    height: 34px;
    vertical-align: middle;
}

.things{
    stroke: #ff4422;
}

.maths{
    stroke: #FFF5AD;
}

.tools{
    stroke: #40F2DD;
}

.card{
    height: 352px;
    display: grid;
    position: relative;
    gap: 16px;
    grid-template-rows: auto 1fr auto;
    color: #fff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    background-color: #FFF5AD;
    padding: 24px;
}

.main-card{
    grid-template-columns: 2fr 1fr;
    background-image: url("https://raw.org/image/teaser/s100.jpg");
}

.card-info{
    display: flex;
    gap: 8px;
    grid-column: 1 / 2;
    font-family: 'IBM Plex Mono';
    font-size: 11px;
    letter-spacing: 1.1px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.card-category{
    height: 28px;
    display: grid;
    place-items: center;
    border: 1px solid #fff;
    border-radius: 15px;
    white-space: nowrap;
    padding: 0 16px;
    flex: 0 1 100%;
}

.card-title{
    font-size: 32px;
    font-weight: 500;
    grid-column: 1 / 2;
    margin: 0;
}

.card-description{
    display: block;
    overflow: hidden;
    font-family: 'IBM Plex Mono';
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-column: 1 / 2;
}

.card-arrow{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-column: 1 / 2;
}

.button{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 56px;
    padding: 0 30px;
    background-color: #40F2DD;
}

.button svg{
    width: 24px;
    height: 24px;
    stroke: #222222;
}

.sub-card{
    color: #222222;
}

.sub-card::after{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    position: absolute;
    background-image: url("https://raw.org/image/stage/card-background.svg");
    opacity: 0.5;
}

.sub-category{
    border: 1px solid #222222;
}

.sub-card-title{
    font-size: 24px;
}

.sub-card-arrow{
    justify-content: flex-start;
}

.sub-card-arrow .button{
    background-color: #222222;
}

.sub-card-arrow .button svg{
    stroke: #fff;
}

.sub-features{
    display: flex;
    flex-flow: column;
    gap: 24px;
}

.section-popular{
    height: 100%;
    max-height: 398px;
    border: 1px solid #FFFFFF29;
    border-radius: 8px;
    overflow: hidden;
}

.section-popular ol{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    margin: 0;
    padding: 0;
}

.section-popular li{
    flex: 1;
    display: list-item;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.popular-card{
    height: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: 34px auto;
    gap: 16px;
    padding: 8px 24px;
}

.section-popular li:first-child{
    flex: unset;
}

.section-popular li:first-child a{
    padding-bottom: 16px;
    padding-top: 24px;
    border-bottom: 1px solid #FFFFFF29;
}

.section-popular li:first-child h2{
    font-family: inherit;
    font-size: 28px;
    font-weight: inherit;
}

.section-popular li:first-child .popular-id{
    background-color: #fff;
    color: #222222;
}

.popular-id{
    width: 32px;
    height: 22px;
    display: grid;
    font-family: 'IBM Plex Mono';
    font-size: 12px;
    letter-spacing: 1.1px;
    align-self: flex-start;
    align-items: center;
    justify-items: center;
    border: 1px solid #fff;
    border-radius: 30px;
}

.popular-head{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.popular-date{
    grid-area: 2 / 2;
    font-family: 'Inter';
    font-size: 11px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.popular-category{
    font-family: 'IBM Plex Mono';
    white-space: nowrap;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #FFF5AD;
}

.title-span{
    padding-left: 10px;
}

.red{
    color: red;
}

.section{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    padding: 12px;
    padding-top: 120px;
    gap: 24px;
}

.section-title{
    font-size: 48px;
    font-weight: inherit;
    margin: 0;
}

.section-logo{
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.section-logo svg{
    stroke: #222222;
    place-self: flex-end;
}

.section-card{
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.image-container{
    height: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.81;
}

.image-container .button{
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: #fff;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
    padding: 0px 24px;
}

.section-light{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    padding: 32px 0;
    color: #222222;
}

.section-light::before{
    border: 2px solid #22222229;
    border-bottom: none;
}

.section-light::after{
    border: 2px solid #22222229;
    border-top: none;
}

.section-head{
    font-size: 20px;
    font-weight: inherit;
    margin: 0;
}

.section-description{
    font-family: 'Inter-regular';
    color: #222222;
}

.section-date{
    font-family: 'IBM Plex Mono';
    font-size: 11px;
    letter-spacing: 1.1px;
    color: #22222299;
    margin-top: auto;
}

.section-list{
    margin-top: 56px;
    gap: 24px;
}

.section-list .section-card{
    gap: 24px;
}

.down-list{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 16px;
    gap: 12px;
}

.down-list h2{
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}

.down-list p{
    grid-column: 1/2;
}

.down-list .image-button{
    width: fit-content;
    height: 56px;
    background-color: #222222;
    padding: 0px 24px;
    opacity: 1;
    place-self: center;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.down-list svg{
    stroke: #fff;
}

.related-all{
    display: grid;
    place-items: center;
    padding: 100px 0;
}

.section-button{
    display: flex;
    flex-flow: row;
    gap: 32px;
    align-items: center;
}

.all-btn{
    height: 54px;
    display: grid;
    place-items: center;
    border: 1px solid #22222229;
    border-radius: 56px;
    padding: 0px 24px;
}

.section-button span{
    font-size: 48px;
    color: #222222;
    border-bottom: 1px solid #40F2DD;
}

/* Section-Dark */
.dark{
    background-color: #222222;
    color: #fff;
}
.dark .section-logo svg{
    stroke: #fff;
}
.white{
    color: #fff;
}
.date-col{
    color: rgba(255, 255, 255, 0.6);
}
.dark .section-light::after{
    border: 2px solid #FFFFFF29;
    border-top: none;
}
.dark .section-light::before{
    border: 2px solid #FFFFFF29;
    border-bottom: none;
}
.dark .down-list .image-button{
    background-color: #fff;
}
.dark .down-list svg{
    stroke: #222222;
}
.dark .section-button .all-btn{
    border: 1px solid #FFFFFF29;
}
.dark .section-button svg{
    fill: #fff;
}
.dark .section-button span{
    color: #fff;
    border-bottom: 1px solid #FFF5AD;
}

/* js */
.hoverable::before{
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    position: absolute;
    padding-top: 100%;
    background-color: #fff;
    opacity: 0.2;
    border-radius: 100%;
    transition: transform 0.2s 25ms ease-in;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
    z-index: 1;
}

/* Section-comments */
.section-comments{
    margin: 12px;
    margin-top: 120px;
}

.comments{
    position: relative;
    padding: 13px 0;
}

.comments::after{
    border: 2px solid #22222229;
    border-top: none;
}

.comments::before{
    border: 2px solid #22222229;
    border-bottom: none;
}

.stream-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'IBM Plex Mono';
    font-size: 12px;
    color: rgb(34, 34, 34);
    padding: 12px 0;
}

.stream-list{
    display: flex;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 80px 0;
    background-image: url("https://raw.org/image/stage/stage-background.svg");
}

.stream-list a{
    width: 354px;
    display: flex;
    flex-flow: column;
    gap: 32px;
    font-family: 'Inter-regular';
    padding: 32px;
    border: 1px solid #22222229;
    border-radius: 8px;
    background-color: #fff;
}

.stream-text{
    font-size: 18px;
    color: #222222;
}

.stream-info{
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: rgba(34, 34, 34, 0.6);
}

.sec-light .section-button span{
    border-bottom: 1px solid #FF4422;
}

.sec-light .all-btn{
    padding: 0 21px 0px 24px;
}

/* Footer */

footer{
    padding: 0px 12px;
    background-color: #222222;
}

.footer-top{
    display: flex;
    padding: 48px 0;
    overflow: auto;
    scrollbar-width: none;
}

.footer-top ul{
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.footer-category{
    display: flex;
    align-items: center;
}

.footer-category::before{
    width: 60px;
    height: 1px;
    content: '';
    display: block;
    margin-right: 36px;
}

.footer-category:first-child::before{
    width: 30px;
}

.footer-top a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    transition: color 0.3s ease-in-out;
    font-family: 'Inter-regular';
    font-size: 40px;
}

.category-text{
    position: relative;
}

.category-id{
    top: -10px;
    left: 4px;
    position: absolute;
    font-size: 9px;
    letter-spacing: 0.9px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.3s ease-in-out;
}

.category-icon{
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    margin: 0px 20px;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.category-icon::before{
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    content: '';
    background-color: white;
    border-radius: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.category-count{
    bottom: -10px;
    left: 16px;
    position: absolute;
    font-size: 9px;
    letter-spacing: 0.9px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.3s ease-in-out;
}

.footer-end{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #FFFFFF29;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 16px 16px 15px 16px;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.footer-copyright{
    font-family: 'IBM Plex Mono';
}

.footer-end nav ul{
    height: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Inter-regular';
    /* font-size: 12px; */
}

.footer-end span{
    color: rgba(255, 255, 255, 0.5);
}

.footer-info{
    font-size: 12px;
}

.footer-social ul{
    width: 100%;
    font-size: 9px;
}

.header-menu{
    width: 44px;
    height: 44px;
    display: block;
    cursor: pointer;
}

